.form {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    border-radius: 12px;
    padding: 20px;
    background-color: white;
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.avatar {
    width: 48px;
    height: auto;
}

.textarea {
    resize: none;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    padding: 20px;
    flex-grow: 1;
}

.replyButton {
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    background-color: var(--moderate-blue);
    text-transform: uppercase;
}